{% extends "base.html" %}

{% block title %}
<title>Доступные запросы</title>
{% endblock %}



{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Запросы</h1>

    </div>
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto w-50"  method="post">
        {% csrf_token %}
          <input type="search" name="filter" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    {% for query in queries %}
      <div class="d-flex text-muted pt-3  border-bottom">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
           xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
           preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
          <rect width="100%" height="100%" fill="#007bff"/>
      </svg>
      <p class="pb-3 mb-0 small lh-sm">
        <strong class="d-block text-gray-dark"><a class="nav-item" href="{% url 'query:query' query.id %}">{{ query.name }}</a></strong>
        {{ query.description }}
      </p>
          </div>
    {% endfor %}
  </div>



{% endblock %}
