{% extends "base.html" %}

{% block title %}
<title>Доступные выгрузки</title>
{% endblock %}



{% block content %}
<table>
    {% if queries %}
    <tr>
        <th>Имя</th>
        <th>Описание</th>
    </tr>
    {% else %}
    <p>Запросы отсутствуют</p>
    {% endif %}
    {% for query in queries %}
    <tr>
        <td class="query"><a href="{% url 'query:query' query.id %}">{{ query.name }}</a></td>
        <td class="query">{{ query.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
