{% extends "base.html" %}

{% block title %}
<title>Выгрузки</title>
{% endblock %}

{% block content %}
<div class="align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Сформированные выгрузки</h1>
    </div>
  </div>
<div class="my-3 p-3 bg-body rounded shadow-sm  border-bottom">
<table class="table table-bordered">
    <tbody>
    {% for upl in upls %}
    <tr>
        <td>
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
           xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
           preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
          <rect width="100%" height="100%" fill="#007bff"/>
      </svg>
      <div class="pb-3 mb-0 small lh-sm ">
        <strong class="d-block text-gray-dark"><a class="nav-item" href="">{{ upl.query.name }}</a></strong>
        {{  upl.query.description }}
      </div>
        </td>
        <td>
                    <div ><p class="text-center">{{ upl.upl.comment }}</p></div>
        </td>
        <td>
            {% if upl.params %}
            <table>
                <tbody>

                {% for param in upl.params %}
                <tr>
                    <td>
                        <div >{{ param.param.name }}:</div>
                    </td>
                    <td>
                        <div >{{ param.value }}</div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          {% else %}

          {% endif %}
        </td>
        <td>
               <div><p class="text-center">{{ upl.upl.create_date }}</p></div>
        </td>
        <td>
            <div><p class="text-center">{{ upl.upl.get_status_display }}</p></div>
        </td>
        <td>
            {% if upl.get_status_display == LOADED %}
          <div><a class="nav-item" href="{% url 'query:download' upl.upl.file_path %}" download>Ссылка</a></div>
          {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

